<div id="post">
  {% if post.title %}
  <h1>{{ post.title }}</h1>
  {% else %}
  <h1>{{ page.title }}</h1>
  {% endif %}

  <p class="meta">
  {% if post.date %}
    {{ post.date | date_to_long_string }}
    {% if post.location %}{{ post.location }}{% endif %}
  {% else %}
    {{ page.date | date_to_long_string }}
    {% if page.location %}{{ page.location }}{% endif %}
  {% endif %}
  </p>

  {% if landing %}
    {% assign split_content = post.content | split:'<!--more-->' %}
    {% if split_content.size > 1 %}
  <div class="excerpt">{{ split_content | first }}</div>
  <p class="more"><a href="{{ post.url }}">read more..</a></p>
    {% else %}
  {{ post.content }}
    {% endif %}
  {% else %}
  {{ content }}
  {% endif %}
</div>
